<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MainForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MainForm.Properties.Settings>
            <setting name="warnMail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="warnSMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sensorReadInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tempMax" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="tempMin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="isFirstRun" serializeAs="String">
                <value>False</value>
            </setting>
        </MainForm.Properties.Settings>
    </userSettings>
</configuration>